#app {}


.car-map {
    border: 3px solid black;
    width: 500px;
    height: 400px;
    background-image: url('city.jpg');
    background-size: 100%;
}


/*************** CONTROLER ****************/

.car-controler {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgb(79, 42, 11);
    background: radial-gradient(circle, rgba(79, 42, 11, 1) 17%, rgba(88, 47, 13, 1) 42%, rgba(62, 32, 7, 1) 95%);
    width: 190px;
    height: 110px;
    margin: 1em;
    padding: 0.5em;
    box-shadow: #261405 1px 1px, #261405 2px 2px, #261405 3px 3px, #261405 4px 4px, #261405 5px 5px, #261405 6px 6px, #261405 7px 7px, #261405 8px 8px;
    margin-top: 120px;
}

/**************** DIV ***********************/

.antena {
    width: 5px;
    height: 100px;
    position: absolute;
    top: -100px;
    border-top: 5px solid black;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: rgb(160, 160, 160);

    background: rgb(160, 160, 160);
    background: linear-gradient(90deg, rgba(160, 160, 160, 1) 0%, rgba(228, 228, 228, 1) 17%, rgba(160, 160, 160, 1) 88%);
}

.car-controler div {
    display: flex;
}

.rc-top {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.rc-display {
    background-color: black;
    color: white;
    padding: 0.5em;
    margin: 0em 0.5em;
}

.rc-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.rc-center-left {
    display: flex;
    flex-direction: column;
}

.rc-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 0.8em;
}


/*************** BTN *********************/

.car-controler button {
    background-color: red;
    color: white;
}

.rc-center-center button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 3em;
}

.rc-center-left button+button {
    margin-top: 5px;
}

.rc-center-right button+button {
    margin-left: 10px;
}

.rc-btnsr-left {
    height: 15px;
    width: 15px;
    clip-path: polygon(100% 100%, 0 50%, 100% 0);
}

.rc-btnsr-right {
    height: 15px;
    width: 15px;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
}

.rc-btn-right {
    height: 20px;
    width: 20px;
    clip-path: polygon(0 100%, 100% 50%, 0 0);
}

.rc-btn-left {
    height: 20px;
    width: 20px;
    clip-path: polygon(100% 100%, 0 50%, 100% 0);
}

.rc-btn-top {
    height: 20px;
    width: 20px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.rc-btn-bot {
    height: 20px;
    width: 20px;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.rc-bottom button {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: orange;
}

/****************************** CARS ************************/

.punto {
    position: absolute;
    height: 50px;
    width: 30px;
    border-radius: 10px;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset, rgba(0, 0, 0, 0.40) 0px 54px 55px, rgba(0, 0, 0, 0.20) 0px -12px 30px, rgba(0, 0, 0, 0.20) 0px 4px 6px, rgba(0, 0, 0, 0.30) 0px 12px 13px, rgba(0, 0, 0, 0.20) 0px -3px 5px;

}

.panda {
    position: absolute;
    height: 50px;
    width: 25px;
    border-radius: 7px;
    background: rgb(255, 0, 0);
    background: radial-gradient(circle, rgba(255, 0, 0, 1) 43%, rgba(87, 0, 0, 1) 100%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset, rgba(0, 0, 0, 0.40) 0px 54px 55px, rgba(0, 0, 0, 0.20) 0px -12px 30px, rgba(0, 0, 0, 0.20) 0px 4px 6px, rgba(0, 0, 0, 0.30) 0px 12px 13px, rgba(0, 0, 0, 0.20) 0px -3px 5px;

}

.phare {
    display: flex;
    justify-content: space-around;
}

.feu {
    height: 6px;
    width: 10px;
    border-radius: 50%;
    background-color: yellow;
    box-shadow: 0px -5px 5px yellow, 0px -10px 10px yellow, 0px -15px 10px yellow, 0px -20px 15px yellow, 0px -20px 15px yellow;
}

.pare-brise {
    margin-top: 5px;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pare-brise-av {
    height: 8px;
    width: 20px;
    border-radius: 3px;
    background: rgb(0, 245, 255);
    background: linear-gradient(50deg, rgba(0, 245, 255, 1) 0%, rgba(255, 255, 255, 1) 33%, rgba(0, 219, 255, 1) 100%);
}

.pare-brise-ar {
    height: 6px;
    width: 20px;
    border-radius: 3px;
    background: rgb(0, 245, 255);
    background: linear-gradient(50deg, rgba(0, 245, 255, 1) 0%, rgba(255, 255, 255, 1) 33%, rgba(0, 219, 255, 1) 100%);
}

.phare-arr {
    display: flex;
    justify-content: space-around;
}

.feu-arr {
    height: 4px;
    width: 7px;
    border-radius: 50%;
    background-color: orange;
    box-shadow: 0px 5px 10px orange, 0px 5px 10px orange, 0px 5px 10px orange, 0px 5px 10px orange;

}
